<!doctype html>
<html>
  <head>
    <title>{% block title %} Agencies {% endblock %} </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
    <script
			src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    {% block scripts %}
    <script type="text/javascript" charset="utf-8" src="./static/js/agencies.js"></script>
    {% endblock %}

    <style>
      html, body {
        margin: 0;
        padding: 0;
      }

    </style>
  </head>

  {% block body %}
  <body onload="onLoad()">
    <table class="table">
      <thead></thead>
      <tbody></tbody>
    </table>

  </body>
  {% endblock %}
</html>
